body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #92278f;
    color: white;
    padding: 10px 20px;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone-home, .icone-perfil {
    width: 35px;
    height: 35px;
}

main {
    padding: 30px;
    text-align: center;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.livro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.livro-imagem img {
    width: 180px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.capa-livro {
    width: 180px;
    border-radius: 5px;
    margin-top: 10px;
}

.datas {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    min-width: 250px;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px 15px;
}

th {
    background-color: #d3b1d6;
}

footer {
    background-color: #92278f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
/* Seção de Resenhas */
.resenhas {
    background-color: #f9f9f9;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

.resenhas h2, .resenhas h3 {
    color: #92278f;
}

#form-resenha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

#form-resenha input, #form-resenha textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#lista-resenhas ul {
    list-style-type: none;
    padding: 0;
}

#lista-resenhas li {
    background-color: #fff;
    border-left: 5px solid #92278f;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#lista-resenhas strong {
    color: #92278f;
}
